# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Models
data/raw/*.zip
data/processed/*.pkl
data/models/*.pkl

# Environments
.env
.venv
env/
venv/
ENV/

# OS artifacts
.DS_Store
Thumbs.db
